<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989081396170-ahids2ab9rqtsbnkk3stg2nqnmr4c878.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989081396170-ahids2ab9rqtsbnkk3stg2nqnmr4c878</string>
	<key>API_KEY</key>
	<string>AIzaSyCz8gAgCXBSRfir3iVFgU8KYfMOti9OgDY</string>
	<key>GCM_SENDER_ID</key>
	<string>989081396170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.olshop</string>
	<key>PROJECT_ID</key>
	<string>e-commerse-f6eec</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerse-f6eec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989081396170:ios:5461abbeab3e6f97a6a533</string>
	<key>DATABASE_URL</key>
	<string>https://e-commerse-f6eec-default-rtdb.firebaseio.com</string>
</dict>
</plist>